<div
  class="grid sm:flex gap-4 justify-center items-end border border-gray-950/10 dark:border-white/10 dark:bg-gray-800/40 mb-10 mt-1 max-sm:px-2 p-6 py-10 mx-auto rounded-md">
  <div class="grid gap-y-64 justify-items-center">
    <!-- Combobox -->
    <div tw-combobox [selectionMode]="selectionMode()" #cb3 class="sm:w-80" [(selectedValues)]="selection">
      <!-- Label -->
      <label for="search3" class="block text-sm mb-2 font-medium"> Quick search </label>
      <!-- Input -->
      <input tw-input #inuptRef="twInputText" (changes)="filter($event)" type="text" autocomplete="off" id="search3"
        class="pr-14" />
      <!-- Button -->
      <button tw-button variant="text" size="sm" [popup]="cb3"
        class="focus:- absolute inset-y-0 px-2 right-0 rounded-r-md opacity-50">
        @if (cb3.opened()) {
        <tw-icon (click)="reset(3, cb3)" size="sm" name="x-mark" />
        }
        <tw-icon name="chevron-up-down" (click)="cb3.toggle()" />
      </button>
      <!-- Dropdown -->
      <tw-dropdown (closed)="reset()" class="w-full max-h-56">
        @for (user of users; track user.name) {
        <div tw-combobox-item #item [value]="user.name">
          <img tw-avatar size="xs" alt="" class="my-auto absolute left-0" [src]="user.image">
          @if (item.selected()) {
          <tw-icon class="my-auto absolute right-3" name="check" />
          }
          <span class="pl-3">{{ user.name }}</span>
        </div>
        }
      </tw-dropdown>
    </div>
    <p class="text-sm max-w-64 sm:max-w-96 text-balance text-center"> {{ selection | string }}</p>
  </div>
</div>